.main-tick-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ticket {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  gap: 3rem;
  padding: 180px 25px 100px 25px;
  position: relative;
}
.ticket-box-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.tick-patt {
  position: absolute;
  left: 0;
  top: 20px;
}
.tick-grid {
  position: absolute;
  left: 0;
  top: 40%;
  z-index: -1;
}
.ticket .title {
  text-align: center;
}
@media screen and (max-width: 920px) {
  .ticket-box-row {
    flex-direction: column;
    justify-content: center;
  }
  .tick-grid {
    top: 20%;
  }
}
@media screen and (max-width: 420px) {
  .tick-grid {
    display: none;
  }
}
