@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Antikor Mono";
  src: local("Antikor Mono Regular"), local("Antikor-Mono-Regular"),
    url("./Assets/fonts/Antikor/AntikorMono-Regular.woff2") format("woff2"),
    url("./Assets/fonts/Antikor/AntikorMono-Regular.woff") format("woff"),
    url("./Assets/fonts/Antikor/AntikorMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Tactic Sans";
  src: url("./Assets/fonts/TacticSans-Med.otf");
}
body {
  background: #0a0b0d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.antikor {
  font-family: "Antikor Mono", sans-serif;
}
.pop {
  font-family: "Poppins", sans-serif;
}
.tactic {
  font-family: "Tactic Sans", sans-serif;
}
